* { 
    box-sizing: border-box;
}

body {
    display: block;
    width: 100vw;
    
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    padding: 0; 
}
.wrapper {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../image/top-logo.png"), url("../image/bottom-logo.png"), url("../image/background.jpg");
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, cover;
}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}
.left-column {
    width: 30%;
    float: left;
    margin: 10%;
}
.right-column {
    width: 30%;
    float: right;
    margin: 10%;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}
.container {
    background-color: rgba(117, 29, 38, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    width: 100%
}
form {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
input, textarea {
    width: 100%;
    display: block;
    background-color: white;
    border: 1px solid rgb(198, 198, 198);
    padding: 12px;
    padding-left: 40px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

input::placeholder, label { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(175, 175, 175);
    opacity: 1; /* Firefox */
    font-size: 16px;
    font-weight: 300px;
    
}

:-ms-input-placeholder, label { /* Internet Explorer 10-11 */
    color: rgb(175, 175, 175);
    font-size: 16px;
    font-weight: 300px;
    
}

::-ms-input-placeholder, label { /* Microsoft Edge */
    color: rgb(175, 175, 175);
    font-size: 16px;
    font-weight: 300px;
   
}

.green-button {
    font-size: 24px;
    font-weight: normal;
    color: white;  
    background-color: rgb(159, 213, 58);
    border: 1px solid rgb(59, 154, 0);
    padding: 10px 0;
    border-radius: 4px;
    width: 100%;
}
.green-button:hover {
    background-color: white;
    color: rgb(159, 213, 58);
}
.greenlight-button {
    font-size: 24px;
    font-weight: normal;
    color: white;  
    background-color: rgb(195, 223, 161);
    border: 1px solid rgb(144, 202, 109);
    padding: 10px 0;
    border-radius: 4px;
    width: 100%;
    margin-left: auto;
}
.greenlight-button:hover {
    background-color: white;
    color: rgb(195, 223, 161);
}
.red-button {
    font-size: 24px;
    font-weight: normal;
    color: white;  
    background-color: rgb(245, 83, 101);
    border: 1px solid rgb(162, 32, 42);
    padding: 10px 0;
    border-radius: 4px;
    width: 100%;
    margin-left: auto;
}
.red-button:hover {
    background-color: white;
    color: rgb(245, 83, 101);
}
input[type="text"] {
    background: url("../image/user-icon.png") no-repeat left 10px center;
}
input[type="email"] {
    background: url("../image/mail-icon.png") no-repeat left 10px center;
}
input[type="tel"] {
    background: url("../image/mobile-icon.png") no-repeat left 10px center;
}
input[type="password"] {
    background: url("../image/lock-icon.png") no-repeat left 10px center;
}
input[name="location"] {
    background: url("../image/map-icon.png") no-repeat left 10px center;
}
input[type="checkbox"] {
    width: auto;
    display: inline-block;
    border: 1px solid rgb(198, 198, 198);
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 4px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(175, 175, 175)
  }
input::-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 19+ */
    color: rgb(175, 175, 175)
  }
input:-ms-input-placeholder, textarea::-webkit-input-placeholder { /* IE 10+ */
    color: rgb(175, 175, 175)
  }
input:-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 18- */
    color: rgb(175, 175, 175)
  }

textarea {
    resize: none;
    color: rgb(175, 175, 175)
  }
.green-button-div {
    width: 50%;
    display: inline-block;
    padding-right: 10px;
  }
.second-button-div {
    width: 50%;
    display: inline-block;
    padding-left: 10px;
  }